{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <div class="card shadow p-4">

                <h2 class="text-center mb-4">
                    Forgot Password
                </h2>

                <p class="text-center">
                    Enter your registered email address.
                </p>

                <form method="POST">

                    {% csrf_token %}

                    {{ form.as_p }}

                    <button
                        type="submit"
                        class="btn btn-primary w-100">

                        Send Reset Link

                    </button>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}